<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div
  id="main-wrapper"
  [ngClass]="{ 'show-sidebar': showMobileMenu }"
  dir="ltr"
  data-theme="light"
  data-layout="vertical"
  [attr.data-sidebartype]="sidebartype"
  data-sidebar-position="absolute"
  data-header-position="absolute"
  data-boxed-layout="full"
>
  <!-- ============================================================== -->
  <!-- Topbar header - style you can find in topbar.scss -->
  <!-- ============================================================== -->
  <header class="topbar" data-navbarbg="skin1">
    <nav class="d-flex top-navbar navbar-expand-lg navbar-dark">
      <div
        class="navbar-header bg-dark"
        [ngClass]="expandLogo ? 'expand-logo' : ''"
        data-logobg="skin6"
      >
        <!-- This is for the sidebar toggle which is visible on mobile only -->
        <a
          (click)="showMobileMenu = !showMobileMenu"
          class="nav-toggler waves-effect waves-light d-block d-lg-none"
          href="javascript:void(0)"
        >
          <i [ngClass]="showMobileMenu ? 'bi bi-text-left fs-6' : 'bi bi-text-left fs-6'"></i>
        </a>
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <a class="navbar-brand " href="/">
          <!-- Logo icon -->

          <!--End Logo icon -->
          <!-- Logo text -->
          <span class="logo-text">
            <!-- Light Logo text -->
            <div class="sidebar-heading ms-3 text-white fs-6 fw-bold text-uppercase"><i
              class=""></i>Cine <span class="" style="color: hsl(6, 100%, 42%)">Verse</span>
      </div>
          </span>
        </a>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Toggle which is visible on mobile only -->
        <!-- ============================================================== -->
        <a
          class="topbartoggler d-block d-lg-none waves-effect waves-light bg-primary"
          href="javascript:void(0)"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
          (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed"
        >
          <i class="bi bi-text-right fs-6"></i>
        </a>
      </div>
      <!-- ============================================================== -->
      <!-- End Logo -->
      <!-- ============================================================== -->
      <div
        class="navbar-collapse collapse bg-dark"
        style="border-bottom: 1px solid darkgrey"
        id="navbarSupportedContent"
        data-navbarbg="skin1"
        [ngbCollapse]="!isCollapsed"
      >
        <app-navigation
          (toggleSidebar)="toggleSidebarType()"
          class="w-100"
        ></app-navigation>
      </div>
    </nav>
  </header>
  <!-- ============================================================== -->
  <!-- Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <aside
    class="left-sidebar bg-primary"
    data-sidebarbg="skin6"
    (mouseover)="Logo()"
    (mouseout)="Logo()"
  >
    <app-sidebar></app-sidebar>
  </aside>
  <!-- ============================================================== -->
  <!-- End Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Page wrapper  -->
  <!-- ============================================================== -->
  <div class="page-wrapper bg-dark">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card bg-dark shadow">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <div>
                  <h4 class="card-title text-white">Lists</h4>
                  <h5 class="card-subtitle text-success">Overview of the lists</h5>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table align-middle text-nowrap" id="competitionsTable">
                  <thead>
                  <tr>
                    <th class="text-white font-medium fs-4">Id</th>
                    <th class="text-white font-medium fs-4">Title</th>
                    <th class="text-white font-medium fs-4">Movies</th>
                    <th class="text-white font-medium fs-4">Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor='let list of lists'>
                    <td>
                      <h5 class="mb-0 fw-normal">{{ list.id }}</h5>
                    </td>
                    <td class="fs-4">{{ list.title }}</td>
                    <td>
                      <h5 class="mb-0 fw-normal">{{ list.movies }}</h5>
                    </td>
                    <td class="d-flex justify-content-evenly">
                      <button type="submit" class="btn btn-info opacity-75"
                              (click)="viewList(list)">View</button>
                      <button type="submit" class="btn btn-success ms-1"
                              (click)="editList(list)">Edit</button>
                      <button type="submit" class="btn btn-danger ms-1"
                              (click)="deleteList(list.id)">Delete</button>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <mat-paginator [length]="totalLists" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)">
                </mat-paginator>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer text-center text-white">
      All Rights Reserved by CineVerse.
    </footer>
  </div>
</div>
