<section class="vh-100 dark-mode">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="../../../assets/images/img/login.png"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <div class="alert alert-danger" *ngIf="errorMessage">
          <p>{{errorMessage}}</p>
        </div>
        <form #formLogin="ngForm" (ngSubmit)="onSubmitLogin(formLogin)">
          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fs-4 mx-3 mb-0">Sign in</p>
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label mt-1" for="email">Email address</label>
            <input type="email" id="email" ngModel #email="ngModel" name="email" required email class="form-control form-control-lg" placeholder="exemple@gmail.com" />
            <div *ngIf="email.errors && formLogin.submitted" class="text-danger">
              Email is required!
            </div>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <label class="form-label mt-1" for="password">Password</label>
            <input type="password" class="form-control text-black form-control-lg" id="password" placeholder="Password" ngModel #password="ngModel" name="password" required minlength="6"/>
            <div *ngIf="password.errors && formLogin.submitted" class="text-danger">
              <div *ngIf="password.errors['required']">Password is required</div>
              <div *ngIf="password.errors['minlength']" >
                Password must be at least 6 characters
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            <div class="form-check mb-0">
              <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
              <label class="form-check-label" for="form2Example3">
                Remember me
              </label>
            </div>
            <a href="#!" class="text-body text-white-50">Forgot password?</a>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-success btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
            <p class="small fs-4 text-white-50 mt-2 pt-1 mb-0">Don't have an account? <a routerLink="/sign-up" class="link-info ms-1">Register</a></p>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>
