<div class="bg-black">
    <!-- Navbar -->
    <app-navbar></app-navbar>
    <!-- 2023 Banner Section -->
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-lg-2 col-md-4 card banner-card bg-black">
                <img src="../../../assets/images/img/banner.png" class="card-img-top banner-poster rounded"
                    alt="Banner">
            </div>
        </div>
    </div>

    <!-- Centered Text Div -->
    <div class="container text-center">
        <div class="my-5">
            <h1 class="fw-bolder text-white">Welcome Back, <span class="text-danger opacity-75"> ABDELMAJID.</span>
                Here's is What the community have been Watching...</h1>
        </div>
    </div>

    <!-- Movies Cards Section -->
    <div class="container text-center">
        <div class="row justify-content-center">
            <!-- Card 1 -->
            <div class="col-lg-2 col-md-4 card bg-black movie-card">
                <img src="../../../assets/images/img/oppen.png" class="card-img-top movie-poster rounded" alt="Movie 1">
            </div>

            <!-- Card 2 -->
            <div class="col-lg-2 col-md-4 card bg-black movie-card">
                <img src="../../../assets/images/img/us.jpeg" class="card-img-top movie-poster rounded" alt="Movie 2">
            </div>

            <!-- Card 3 -->
            <div class="col-lg-2 col-md-4 card bg-black movie-card">
                <img src="../../../assets/images/img/star-wars-poster.jpg" class="card-img-top movie-poster rounded"
                    alt="Movie 3">
            </div>

            <!-- Card 4 -->
            <div class="col-lg-2 col-md-4 card bg-black movie-card">
                <img src="../../../assets/images/img/batman.png" class="card-img-top movie-poster rounded"
                    alt="Movie 4">
            </div>

            <!-- Card 5 -->
            <div class="col-lg-2 col-md-4 card bg-black movie-card">
                <img src="../../../assets/images/img/moonlight.jpeg" class="card-img-top movie-poster rounded"
                    alt="Movie 5">
            </div>

            <!-- Card 6 -->
            <div class="col-lg-2 col-md-4 card bg-black movie-card">
                <img src="../../../assets/images/img/potter.jpg" class="card-img-top movie-poster rounded"
                    alt="Movie 6">
            </div>

        </div>
    </div>

    <!-- Tarentino Banner Section -->
    <div class="container text-center rounded mt-4">
        <div class="row justify-content-center">
            <div class="col-lg-2 col-md-4 card banner2-card bg-black">
                <img src="../../../assets/images/img/tarentino.png" class="card-img-top banner-poster rounded"
                    alt="Tarentino Banner">
            </div>
        </div>
    </div>

    <!-- Trending Today -->
    <div class="container mt-1">
        <div class="row">
            <h1 class="fw-bolder text-white">Trending Today</h1>
            <hr class="text-white">
            <!-- Card 1 -->
            <div class="col-lg-2 col-md-4 card bg-black movie-card2">
                <img src="../../../assets/images/img/oppen.png" class="card-img-top movie-poster rounded border" alt="Movie 1">
            </div>

            <!-- Card 2 -->
            <div class="col-lg-2 col-md-4 card bg-black movie-card2">
                <img src="../../../assets/images/img/us.jpeg" class="card-img-top movie-poster rounded border" alt="Movie 2">
            </div>

            <!-- Card 3 -->
            <div class="col-lg-2 col-md-4 card bg-black movie-card2">
                <img src="../../../assets/images/img/star-wars-poster.jpg" class="card-img-top movie-poster rounded border" alt="Movie 3">
            </div>

            <!-- Card 4 -->
            <div class="col-lg-2 col-md-4 card bg-black movie-card2">
                <img src="../../../assets/images/img/batman.png" class="card-img-top movie-poster rounded border" alt="Movie 4">
            </div>

            <!-- Card 5 -->
            <div class="col-lg-2 col-md-4 card bg-black movie-card2">
                <img src="../../../assets/images/img/moonlight.jpeg" class="card-img-top movie-poster rounded border"
                    alt="Movie 5">
            </div>

            <!-- Card 6 -->
            <div class="col-lg-2 col-md-4 card bg-black movie-card2">
                <img src="../../../assets/images/img/potter.jpg" class="card-img-top movie-poster rounded border"
                    alt="Movie 6">
            </div>
        </div>
    </div>

    <!-- Latest Reviews -->
    <div class="container mb-4 mt-4">
        <div class="row">
            <h1 class="fw-bolder text-white">Popular Reviews This Week</h1>
            <hr class="text-white">
            <div class="col-md-2">
                <img src="../../../assets/images/img/oppen.png" height="130" width="160" class="img-fluid bg-white"
                    alt="Movie Poster">
            </div>
            <div class="col-md-10 bg-dark">
                <div class="card mb-3 bg-dark">
                    <div class="card-body">
                        <h2 class="card-title text-white">Oppenheimer (2023)</h2>
                        <div class="d-flex">
                            <img src="../../../assets/images/users/user5.jpg" height="15" width="39"
                                class="img-fluid rounded-circle" alt="User">
                            <p class="text-white ms-2 mt-2">vasili</p>
                        </div>
                        <span class="badge bg-warning text-dark mt-1">★★½</span>
                        <p class="card-text mt-2 text-white">felix showing saltburn around as if he's in 73 questions
                            with vogue..</p>
                        <div class="d-flex">
                            <div class="d-flex"><mat-icon class="text-danger">favorite</mat-icon><span
                                    class="ms-2 mt-1 text-white">5,201 likes</span></div>
                            <div class="d-flex ms-3 mt-1"><mat-icon class="text-info">comment</mat-icon><span
                                    class="ms-2 text-white">20</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2">
                <img src="../../../assets/images/img/potter.jpg" height="130" width="160" class="img-fluid bg-white"
                    alt="Movie Poster">
            </div>
            <div class="col-md-10 bg-dark">
                <div class="card mb-3 bg-dark">
                    <div class="card-body">
                        <h2 class="card-title text-white">Harry Potter (2001)</h2>
                        <div class="d-flex">
                            <img src="../../../assets/images/users/user4.jpg" height="15" width="39"
                                class="img-fluid rounded-circle" alt="User">
                            <p class="text-white ms-2 mt-2">vasili</p>
                        </div>
                        <span class="badge bg-warning text-dark mt-1">★★½</span>
                        <p class="card-text mt-2 text-white">felix showing saltburn around as if he's in 73 questions
                            with vogue..</p>
                        <div class="d-flex">
                            <div class="d-flex"><mat-icon class="text-danger">favorite</mat-icon><span
                                    class="ms-2 mt-1 text-white">5,201 likes</span></div>
                            <div class="d-flex ms-3 mt-1"><mat-icon class="text-info">comment</mat-icon><span
                                    class="ms-2 text-white">20</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2">
                <img src="../../../assets/images/img/moonlight.jpeg" height="130" width="160" class="img-fluid bg-white"
                    alt="Movie Poster">
            </div>
            <div class="col-md-10 bg-dark">
                <div class="card mb-3 bg-dark">
                    <div class="card-body">
                        <h2 class="card-title text-white">Moonlight (2019)</h2>
                        <div class="d-flex">
                            <img src="../../../assets/images/users/user1.jpg" height="15" width="39"
                                class="img-fluid rounded-circle" alt="User">
                            <p class="mt-2 text-white">vasili</p>
                        </div>
                        <span class="badge bg-warning text-dark mt-1">★★½</span>
                        <p class="card-text mt-2 text-white">felix showing saltburn around as if he's in 73 questions
                            with vogue..</p>
                        <div class="d-flex">
                            <div class="d-flex"><mat-icon class="text-danger">favorite</mat-icon><span
                                    class="ms-2 mt-1 text-white">5,201 likes</span></div>
                            <div class="d-flex ms-3 mt-1"><mat-icon class="text-info">comment</mat-icon><span
                                    class="ms-2 text-white">20</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2">
                <img src="../../../assets/images/img/star-wars-poster.jpg" height="130" width="160"
                    class="img-fluid bg-white" alt="Movie Poster">
            </div>
            <div class="col-md-10 bg-dark">
                <div class="card mb-3 bg-dark">
                    <div class="card-body">
                        <h2 class="card-title text-white">Star Wars (2020)</h2>
                        <div class="d-flex">
                            <img src="../../../assets/images/users/user2.jpg" height="15" width="39"
                                class="img-fluid rounded-circle" alt="User">
                            <p class="ms-2 mt-2 text-white">vasili</p>
                        </div>
                        <span class="badge bg-warning text-dark mt-1">★★½</span>
                        <p class="card-text mt-2 text-white">felix showing saltburn around as if he's in 73 questions
                            with vogue..</p>
                        <div class="d-flex">
                            <div class="d-flex"><mat-icon class="text-danger">favorite</mat-icon><span
                                    class="ms-2 mt-1 text-white">5,201 likes</span></div>
                            <div class="d-flex ms-3 mt-1"><mat-icon class="text-info">comment</mat-icon><span
                                    class="ms-2 text-white">20</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2">
                <img src="../../../assets/images/img/us.jpeg" height="130" width="160" class="img-fluid bg-white"
                    alt="Movie Poster">
            </div>
            <div class="col-md-10 bg-dark">
                <div class="card mb-3 bg-dark">
                    <div class="card-body">
                        <h2 class="card-title text-white">Us (2018)</h2>
                        <div class="d-flex">
                            <img src="../../../assets/images/users/user3.jpg" height="15" width="39"
                                class="img-fluid rounded-circle" alt="User">
                            <p class="ms-2 mt-2 text-white">vasili</p>
                        </div>
                        <span class="badge bg-warning text-dark mt-1">★★½</span>
                        <p class="card-text mt-2 text-white">felix showing saltburn around as if he's in 73 questions
                            with vogue..</p>
                        <div class="d-flex">
                            <div class="d-flex"><mat-icon class="text-danger">favorite</mat-icon><span
                                    class="ms-2 mt-1 text-white">5,201 likes</span></div>
                            <div class="d-flex ms-3 mt-1"><mat-icon class="text-info">comment</mat-icon><span
                                    class="ms-2 text-white">20</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Popular Lists -->
    <div class="container mt-4">
        <div class="row">
            <h1 class="fw-bolder text-white">Popular Lists</h1>
            <hr class="text-white">
            <!-- Movie List 1-->
            <div class="col-lg-4 col-md-6 mb-4 rounded shadow">
                <div class="card">
                    <div class="overlay">
                        <img src="../../../assets/images/img/batman.png" class="card-img-top overlay-img1"
                            alt="Movie 1">
                        <img src="../../../assets/images/img/moonlight.jpeg" class="card-img-top overlay-img2"
                            alt="Movie 1">
                        <img src="../../../assets/images/img/star-wars-poster.jpg" class="card-img-top overlay-img3"
                            alt="Movie 1">
                    </div>
                    <div class="card-body bg-dark">
                        <h3 class="card-title text-white">Feeling Lost in Your 20's</h3>
                        <div class="d-flex">
                            <img src="../../../assets/images/users/user3.jpg" height="15" width="39"
                                class="img-fluid rounded-circle" alt="User">
                            <p class="ms-2 mt-2 text-white">vasili</p>
                            <div class="d-flex ms-3 mt-1"><mat-icon class="text-danger">favorite</mat-icon><span
                                    class="ms-2 mt-1 text-white">52k</span></div>
                            <div class="d-flex ms-3 mt-1"><mat-icon class="text-info">comment</mat-icon><span
                                    class="ms-2 text-white" style="margin-top: 2px;">20</span></div>
                        </div>
                        <a href="#" class="btn btn-danger mt-4">Explore List</a>
                    </div>
                </div>
            </div>
            <!-- Movie List 2 -->
            <div class="col-lg-4 col-md-6 mb-4 rounded shadow">
                <div class="card">
                    <div class="overlay">
                        <img src="../../../assets/images/img/oppen.png" class="card-img-top overlay-img1" alt="Movie 1">
                        <img src="../../../assets/images/img/potter.jpg" class="card-img-top overlay-img2"
                            alt="Movie 1">
                        <img src="../../../assets/images/img/us.jpeg" class="card-img-top overlay-img3" alt="Movie 1">
                    </div>
                    <div class="card-body bg-dark">
                        <h3 class="card-title text-white">im just a Man in the world</h3>
                        <div class="d-flex">
                            <img src="../../../assets/images/users/user2.jpg" height="15" width="39"
                                class="img-fluid rounded-circle" alt="User">
                            <p class="ms-2 mt-2 text-white">vasili</p>
                            <div class="d-flex ms-3 mt-1"><mat-icon class="text-danger">favorite</mat-icon><span
                                    class="ms-2 mt-1 text-white">52k</span></div>
                            <div class="d-flex ms-3 mt-1"><mat-icon class="text-info">comment</mat-icon><span
                                    class="ms-2 mt-1 text-white" style="margin-top: 2px;">20</span></div>
                        </div>
                        <a href="#" class="btn btn-danger mt-4">Explore List</a>
                    </div>
                </div>
            </div>
            <!-- Movie List 3 -->
            <div class="col-lg-4 col-md-6 mb-4 rounded shadow">
                <div class="card">
                    <div class="overlay">
                        <img src="../../../assets/images/img/star-wars-poster.jpg" class="card-img-top overlay-img1"
                            alt="Movie 1">
                        <img src="../../../assets/images/img/moonlight.jpeg" class="card-img-top overlay-img2"
                            alt="Movie 1">
                        <img src="../../../assets/images/img/batman.png" class="card-img-top overlay-img3"
                            alt="Movie 1">
                    </div>
                    <div class="card-body bg-dark">
                        <h3 class="card-title text-white">Movies everyone should watch</h3>
                        <div class="d-flex">
                            <img src="../../../assets/images/users/user1.jpg" height="15" width="39"
                                class="img-fluid rounded-circle" alt="User">
                            <p class="ms-2 mt-2 text-white">vasili</p>
                            <div class="d-flex ms-3 mt-1"><mat-icon class="text-danger">favorite</mat-icon><span
                                    class="ms-2 mt-1 text-white">52k</span></div>
                            <div class="d-flex ms-3 mt-1"><mat-icon class="text-info">comment</mat-icon><span
                                    class="ms-2 mt-1 text-white" style="margin-top: 2px;">20</span></div>
                        </div>
                        <a href="#" class="btn btn-danger mt-4">Explore List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Section -->
    <app-footer></app-footer>
</div>