<nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <div class="container">

        <a class="navbar-brand fw-bolder" routerLink="/user-home">CINE <span class="" style="color: hsl(6, 100%, 42%)">VERSE</span></a>
        <div class="" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" ngbDropdown placement="bottom-end">
                    <a
                      ngbDropdownToggle
                      class="nav-link waves-effect waves-dark pro-pic"
                      href="javascript:void(0)"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <img
                        src="../../../assets/images/users/user1.jpg"
                        alt="user"
                        class="rounded-circle"
                        width="31"
                      />
                      <span class="ms-2 fw-bold">{{user.lastname}}</span>
                    </a>
                    <div class="dropdown-menu-right" ngbDropdownMenu>
                      <a class="dropdown-item" (click)="onProfileClick()"> Profile</a>
                      <a class="dropdown-item" (click)="onProfileMoviesClick()"> Movies</a>
                      <a class="dropdown-item" (click)="onDiaryClick()"> Diary</a>
                      <a class="dropdown-item" (click)="onLikesClick()"> Likes</a>
                      <a class="dropdown-item" (click)="onListsClick()"> Lists</a>
                      <a class="dropdown-item" (click)="onWatchListClick()"> Watchlist</a>
                      <a class="dropdown-item" (click)="onSettingsClick()"> Settings</a>
                      <a class="dropdown-item text-danger opacity-75" type="submit" (click)="handleLogout($event)"> Logout</a>
                    </div>
                  </li>
                <li class="nav-item mt-1">
                    <a class="nav-link text-white" routerLink="/movies">Movies</a>
                </li>
                <li class="nav-item mt-1">
                    <a class="nav-link text-white" routerLink="/lists">Lists</a>
                </li>
                <li class="nav-item mt-1">
                    <a class="nav-link text-white" routerLink="/members">Members</a>
                </li>
            </ul>
        </div>
        <!-- Search Bar -->
        <div class="container w-50">
            <div class="input-group">
              <form>
                <input type="text" class="form-control rounded-pill" [formControl]="searchTermControl" placeholder="Search movies...">
              </form>
            </div>
        </div>

    </div>
</nav>
<div *ngIf="searchResults.length > 0" class="searchBar position-absolute justify-content-center bg-black">
  <div class="">
    <div class="">
      <div *ngFor="let movie of searchResults" class="mb-2 searchElement" (click)="onMovieClick(movie.id)">
        <div class="d-flex movieSearch p-1">
          <img class="rounded ms-1 mt-1" src="https://image.tmdb.org/t/p/w500/{{ movie.image }}" height="70" width="55" alt="{{ movie.title }}">
          <div>
            <p class="text-white ms-3">{{ movie.title }}</p>
            <p class="ms-3 text-danger">({{ movie.year }})</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
