  <div class="bg-grey">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <div class="container">
      <a class="navbar-brand fw-bolder">CINE <span class="" style="color: hsl(6, 100%, 42%)">VERSE</span></a>
      <div class="" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link text-white" href="#">Login <span class="sr-only"></span></a>
          </li>
          <li class="">
            <a class="nav-link text-white" href="#">Sign up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Lists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Members</a>
          </li>
        </ul>
      </div>
      <!-- Search Bar -->
      <div class="container w-50">
        <div class="input-group">
          <input type="text" class="form-control rounded-pill" placeholder="Search movies...">
          <div class="input-group-append">
            <button class="btn btn-black text-white" type="button">
              <mat-icon>search</mat-icon>
            </button>
          </div>
        </div>
      </div>
      
    </div>
  </nav>

<!-- Hero Section -->
<section class="hero-section text-white text-center d-flex flex-column align-items-center justify-content-center">
</section> 

<!-- Movies Cards Section -->
<div class="container text-center">
    <div class="row justify-content-center">
        <!-- Card 1 -->
        <div class="col-lg-2 col-md-4 card movie-card">
                <img src="../../../assets/images/img/oppen.png" class="card-img-top movie-poster rounded" alt="Movie 1">
        </div>

        <!-- Card 2 -->
        <div class="col-lg-2 col-md-4 card movie-card">
                <img src="../../../assets/images/img/us.jpeg" class="card-img-top movie-poster rounded" alt="Movie 2">
        </div>

        <!-- Card 3 -->
        <div class="col-lg-2 col-md-4 card movie-card">
                <img src="../../../assets/images/img/star-wars-poster.jpg" class="card-img-top movie-poster rounded" alt="Movie 3">
        </div>

        <!-- Card 4 -->
        <div class="col-lg-2 col-md-4 card movie-card">
                <img src="../../../assets/images/img/batman.png" class="card-img-top movie-poster rounded" alt="Movie 4">
        </div>

        <!-- Card 5 -->
        <div class="col-lg-2 col-md-4 card movie-card">
                <img src="../../../assets/images/img/moonlight.jpeg" class="card-img-top movie-poster rounded" alt="Movie 5">
        </div>

        <!-- Card 6 -->
        <div class="col-lg-2 col-md-4 card movie-card">
                <img src="../../../assets/images/img/potter.jpg" class="card-img-top movie-poster rounded" alt="Movie 6">
        </div>
        
    </div>
</div>

<!-- 2023 Banner Section -->
<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-lg-2 col-md-4 card banner-card">
                <img src="../../../assets/images/img/banner.png" class="card-img-top banner-poster rounded" alt="Banner">
        </div>        
    </div>
</div>

<!-- CineVerse Cards Section -->
<div class="container mt-3">
    <div class="row">
      <!-- Card 1 -->
      <div class="col-md-6 col-lg-4 mb-4 rounded border shadow">
        <div class="card">
          <div class="card-body d-flex">
            <span><mat-icon>visibility</mat-icon></span>
            <p class="card-text ms-4 fs-6">Keep track of every film you’ve ever watched (or just start from the day you join)</p>
          </div>
        </div>
      </div>
      
      <!-- Card 2 -->
      <div class="col-md-6 col-lg-4 mb-4 rounded border shadow">
        <div class="card">
          <div class="card-body d-flex">
            <span class=""><mat-icon>favorite</mat-icon></span>
            <p class="card-text ms-4 fs-6">Show some love for your favorite films, lists and reviews with a “like”</p>
          </div>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="col-md-6 col-lg-4 mb-4 rounded border shadow">
        <div class="card">
          <div class="card-body d-flex">
            <span><mat-icon>edit</mat-icon></span>
            <p class="card-text ms-4 fs-6">Write and share reviews, and follow friends and other members to read theirs</p>
          </div>
        </div>
      </div>

      <!-- Card 4 -->
      <div class="col-md-6 col-lg-4 mb-4 rounded border shadow">
        <div class="card">
          <div class="card-body d-flex">
            <span><mat-icon>star</mat-icon></span>
            <p class="card-text ms-4 fs-6">Rate each film on a five-star scale (with halves) to record and share your reaction</p>
          </div>
        </div>
      </div>
      
      <!-- Card 5 -->
      <div class="col-md-6 col-lg-4 mb-4 rounded border shadow">
        <div class="card">
          <div class="card-body d-flex">
            <span><mat-icon>book</mat-icon></span>
            <p class="card-text ms-4 fs-6">Keep a diary of your film watching to track your favorite movies, jot down memorable quotes, and reflect on your cinematic journey</p>
          </div>
        </div>
      </div>

      <!-- Card 6 -->
      <div class="col-md-6 col-lg-4 mb-4 rounded border shadow">
        <div class="card">
          <div class="card-body d-flex">
            <span><mat-icon>code</mat-icon></span>
            <p class="card-text ms-4 fs-6">Compile and share lists of films on any topic and keep a watchlist of films to see</p>
          </div>
        </div>
      </div>

    </div>
  </div>
  

<!-- Content Section -->
<section class="container mt-4">
    <div class="row">
      <!-- Movie Cards -->
      <div class="col-lg-4 col-md-6 mb-4 rounded shadow">
        <div class="card">
          <img src="../../../assets/images/img/batman.png" class="card-img-top" alt="Movie 1">
          <div class="card-body">
            <h5 class="card-title">The Batman</h5>
            <p class="card-text">Description of the movie goes here.</p>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
  
      
  
    </div>
  </section>
  
  <!-- Footer Section -->
<footer class="bg-black text-white text-center py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>Contact Us</h5>
          <p>Email: contact@cineverse.com</p>
          <p>Phone: +1 (123) 456-7890</p>
        </div>
        <div class="col-md-4">
          <h5>Follow Us</h5>
          <a href="#" class="text-white">Facebook</a><br>
          <a href="#" class="text-white">Twitter</a><br>
          <a href="#" class="text-white">Instagram</a>
        </div>
        <div class="col-md-4">
          <h5>Quick Links</h5>
          <a href="#" class="text-white">Privacy Policy</a><br>
          <a href="#" class="text-white">Terms of Service</a><br>
          <a href="#" class="text-white">FAQ</a>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <p>&copy; 2024 Cineverse. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  </div>