.navbar-brand {
  font-weight: bold;
  color: #ffffff;
}

.hero-section {
  background-image: url('../../../assets/images/img/darth.jpg');
  background-size: cover;
  height: 500px;
  color: #ffffff;
  padding: 100px 0;
}

.movie-card {
  height: 270px;
  width: 210px;
  margin-top: 10px;
}

.movie-poster {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 3px solid black;
}

.banner-card {
  height: 150px;
  width: 95.5%;
  margin-top: 10px;
}

.banner-poster {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-cineverse {
  height: 140px;
  width: 390px;
  background-color: rgb(255, 248, 254);
}

.overlay {
  position: relative;
  width: 100vw;
  height: 30vh;
  overflow: hidden;
}

.overlay-img1,
.overlay-img2,
.overlay-img3 {
  position: absolute;
  transform: translateX(-50%);
  height: 240px;
  width: 210px;
}

.overlay-img1 {
  left: 5%; 
}
.overlay-img2 {
  left: 12%; 
  z-index: 10;
}
.overlay-img3 {
  left: 17.9%; 
  z-index: 10;
}
