@import url('https://fonts.googleapis.com/css2?family=Honk&family=Poppins:wght@300;400;500;600&display=swap');
.navbar-brand {
  font-weight: bold;
  color: #ffffff;
}

.hero-section {
  background-image: url('../../../assets/images/img/darth.jpg');
  background-size: cover;
  height: 500px;
  color: #ffffff;
  padding: 100px 0;
}

.movie-card {
  height: 280px;
  width: 210px;
  position: relative;
  overflow: hidden; /* Ensure icons stay at the bottom even if image size changes */
}

.movie-poster {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 3px solid black;
  transition: transform 0.3s ease; /* Add transition for smoother animation */
}

.movie-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  transition: opacity 0.3s ease; /* Add transition for opacity */
}

.movie-card:hover .movie-overlay {
  opacity: 1;
}

.movie-card:hover .movie-poster {
  transform: scale(1.05); /* Increase scale on hover */
}

.banner-card {
  height: 150px;
  width: 95.5%;
  margin-top: 10px;
}

.banner-poster {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.head-text {
  color: whitesmoke;
  font-family: 'Honk', sans-serif;
}

.card-cineverse {
  height: 140px;
  width: 390px;
  background-color: rgba(32, 29, 29, 0.98);
  color: whitesmoke;
}

.bag {
  background-color: rgba(32, 29, 29, 0.98);
}

.overlay {
  position: relative;
  width: 100vw;
  height: 30vh;
  overflow: hidden;
}

.overlay-img1,
.overlay-img2,
.overlay-img3 {
  position: absolute;
  transform: translateX(-50%);
  height: 240px;
  width: 210px;
}

.overlay-img1 {
  left: 5%;
}
.overlay-img2 {
  left: 12%;
  z-index: 10;
}
.overlay-img3 {
  left: 17.9%;
  z-index: 10;
}

.rating:not(:checked) > input {
  position: absolute;
  appearance: none;
}

.rating:not(:checked) > label {
  float: right;
  cursor: pointer;
  font-size: 30px;
  color: #666;
}

.rating:not(:checked) > label:before {
  content: "★";
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #e58e09;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #ff9e0b;
}

.rating > input:checked ~ label {
  color: #ffa723;
}
.card-list {
  box-shadow: 10px 10px 10px #3a2f2f, -1px -1px #646262;
;
}

.card-list:hover {
  transform: scale(1.05);
}
