  <div class="bg-black">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <div class="container">
      <a class="navbar-brand fw-bolder">CINE <span class="" style="color: hsl(6, 100%, 42%)">VERSE</span></a>
      <div class="" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link text-white" href="#">Login <span class="sr-only"></span></a>
          </li>
          <li class="">
            <a class="nav-link text-white" href="#">Sign up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Lists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Members</a>
          </li>
        </ul>
      </div>
      <!-- Search Bar -->
      <div class="container w-50">
        <div class="input-group">
          <input type="text" class="form-control rounded-pill" placeholder="Search movies...">
          <div class="input-group-append">
            <button class="btn btn-black text-white" type="button">
              <mat-icon>search</mat-icon>
            </button>
          </div>
        </div>
      </div>
      
    </div>
  </nav>

<!-- Hero Section -->
<section class="hero-section text-white text-center d-flex flex-column align-items-center justify-content-center">
</section> 

<div class="container text-center">
    <h3 class="text-white">Track films you’ve watched.</h3>
    <h3 class="text-white">Save those you want to see.</h3>
    <h3 class="text-white">Tell your friends what’s good.</h3>
    <button class="btn btn-success">Explore Now</button>
</div>

<!-- Movies Cards Section -->
<div class="container text-center">
    <div class="row justify-content-center">
        <!-- Card 1 -->
        <div class="col-lg-2 col-md-4 card bg-black movie-card">
                <img src="../../../assets/images/img/oppen.png" class="card-img-top movie-poster rounded" alt="Movie 1">
        </div>

        <!-- Card 2 -->
        <div class="col-lg-2 col-md-4 card bg-black movie-card">
                <img src="../../../assets/images/img/us.jpeg" class="card-img-top movie-poster rounded" alt="Movie 2">
        </div>

        <!-- Card 3 -->
        <div class="col-lg-2 col-md-4 card bg-black movie-card">
                <img src="../../../assets/images/img/star-wars-poster.jpg" class="card-img-top movie-poster rounded" alt="Movie 3">
        </div>

        <!-- Card 4 -->
        <div class="col-lg-2 col-md-4 card bg-black movie-card">
                <img src="../../../assets/images/img/batman.png" class="card-img-top movie-poster rounded" alt="Movie 4">
        </div>

        <!-- Card 5 -->
        <div class="col-lg-2 col-md-4 card bg-black movie-card">
                <img src="../../../assets/images/img/moonlight.jpeg" class="card-img-top movie-poster rounded" alt="Movie 5">
        </div>

        <!-- Card 6 -->
        <div class="col-lg-2 col-md-4 card bg-black movie-card">
                <img src="../../../assets/images/img/potter.jpg" class="card-img-top movie-poster rounded" alt="Movie 6">
        </div>
        
    </div>
</div>

<!-- 2023 Banner Section -->
<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-lg-2 col-md-4 card banner-card">
                <img src="../../../assets/images/img/banner.png" class="card-img-top banner-poster rounded" alt="Banner">
        </div>        
    </div>
</div>

<!-- CineVerse Cards Section -->
<div class="container mt-3">
    <div class="row">
      <!-- Card 1 -->
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card-cineverse card rounded">
          <div class="card-body d-flex">
            <span><mat-icon>visibility</mat-icon></span>
            <p class="card-text ms-4 fs-6">Keep track of every film you’ve ever watched (or just start from the day you join)</p>
          </div>
        </div>
      </div>
      
      <!-- Card 2 -->
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card-cineverse card rounded">
          <div class="card-body d-flex">
            <span class=""><mat-icon>favorite</mat-icon></span>
            <p class="card-text ms-4 fs-6">Show some love for your favorite films, lists and reviews with a “like”</p>
          </div>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card-cineverse card rounded">
          <div class="card-body d-flex">
            <span><mat-icon>edit</mat-icon></span>
            <p class="card-text ms-4 fs-6">Write and share reviews, and follow friends and other members to read theirs</p>
          </div>
        </div>
      </div>

      <!-- Card 4 -->
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card-cineverse card rounded">
          <div class="card-body d-flex">
            <span><mat-icon>star</mat-icon></span>
            <p class="card-text ms-4 fs-6">Rate each film on a five-star scale (with halves) to record and share your reaction</p>
          </div>
        </div>
      </div>
      
      <!-- Card 5 -->
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card-cineverse card rounded">
          <div class="card-body d-flex">
            <span><mat-icon>book</mat-icon></span>
            <p class="card-text ms-4 fs-6">Keep a diary of your film watching to track your favorite movies, and reflect on your cinematic journey</p>
          </div>
        </div>
      </div>

      <!-- Card 6 -->
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card-cineverse card rounded">
          <div class="card-body d-flex">
            <span><mat-icon>code</mat-icon></span>
            <p class="card-text ms-4 fs-6">Compile and share lists of films on any topic and keep a watchlist of films to see</p>
          </div>
        </div>
      </div>

    </div>
  </div>
  
  <!-- Centered Text Div -->
  <div class="container text-center">
    <div class="my-5">
        <h1 class="fw-bolder" style="color: rgb(217, 235, 251);">Write and share reviews. Compile your own lists. Share your life in film.</h1>
        <h4 class="text-white fw-bold">Below are some popular reviews and lists from this week. <a class="text-warning">Sign up</a> to create your own.</h4>
    </div>
</div>

<!-- Latest Reviews -->
<div class="container">
    <div class="row">
      <div class="col-md-2">
        <img src="../../../assets/images/img/oppen.png" height="130" width="160" class="img-fluid bg-white" alt="Movie Poster">
      </div>
      <div class="col-md-8 bg-white">
        <div class="card mb-3">
          <div class="card-body">
            <h2 class="card-title">Ready Player One 2018</h2>
            <div class="d-flex">
                <img src="../../../assets/images/users/user1.jpg" height="15" width="39" class="img-fluid rounded-circle" alt="User">
                <p class="text-muted ms-2 mt-2">vasili</p>
            </div>
            <span class="badge bg-warning text-dark mt-1">★★½</span>
            <p class="card-text mt-2">felix showing saltburn around as if he's in 73 questions with vogue..</p>
            <div class="d-flex">
                <div class="d-flex"><mat-icon>favorite</mat-icon><span class="ms-2 mt-1">5,201 likes</span></div>
                <div class="d-flex ms-3 mt-1"><mat-icon>comment</mat-icon><span class="ms-2">20</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

<!-- Content Section -->
<section class="container mt-4">
    <div class="row">
      <!-- Movie Cards -->
      <div class="col-lg-4 col-md-6 mb-4 rounded shadow">
        <div class="card">
          <img src="../../../assets/images/img/batman.png" class="card-img-top" alt="Movie 1">
          <div class="card-body">
            <h5 class="card-title">The Batman</h5>
            <p class="card-text">Description of the movie goes here.</p>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
  
      
  
    </div>
  </section>
  
  <!-- Footer Section -->
  <footer class="bg-black text-white text-center py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <p><mat-icon>email</mat-icon>contact@cineverse.com</p>
                <p><mat-icon>phone</mat-icon>+212 636-934-470</p>
            </div>
            <div class="col-md-4">
                <h5>Follow Us</h5>
                <a href="#" class="text-white"><mat-icon>facebook</mat-icon> Facebook</a><br>
                <a href="#" class="text-white"><mat-icon>linkedin</mat-icon> Linkedin</a>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <a href="#" class="text-white"><mat-icon>lock</mat-icon> Privacy Policy</a><br>
                <a href="#" class="text-white"><mat-icon>description</mat-icon> Terms of Service</a><br>
                <a href="#" class="text-white"><mat-icon>help</mat-icon> FAQ</a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <p>&copy; 2024 Cineverse. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
  </div>