  <div class="bg-black">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-black position-relative">
    <div class="container">
      <a class="navbar-brand fw-bolder" routerLink="/home">CINE <span class="" style="color: hsl(6, 100%, 42%)">VERSE</span></a>
      <div class="" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link text-white" routerLink="/login">Login <span class="sr-only"></span></a>
          </li>
          <li class="">
            <a class="nav-link text-white" routerLink="/sign-up">Sign up</a>
          </li>
        </ul>
      </div>
      <!-- Search Bar -->
      <div class="container w-50">
        <div class="input-group">
          <form>
            <input type="text" class="form-control rounded-pill" [formControl]="searchTermControl" placeholder="Search movies...">
          </form>
        </div>
      </div>

    </div>
  </nav>
    <div *ngIf="searchResults.length > 0" class="searchBar position-absolute justify-content-center bg-black">
      <div class="">
        <div class="">
          <div *ngFor="let movie of searchResults" class="mb-2 searchElement" (click)="onMovieClick(movie.movieId)">
            <div class="d-flex movieSearch p-1">
              <img class="rounded ms-1 mt-1" src="https://image.tmdb.org/t/p/w500/{{ movie.movieImage }}" height="70" width="55" alt="{{ movie.movieTitle }}">
              <div>
                <p class="text-white ms-3">{{ movie.movieTitle }}</p>
                <p class="ms-3 text-danger">({{ movie.movieYear }})</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Hero Section -->
<section class="hero-section text-white text-center d-flex flex-column align-items-center justify-content-center">
</section>

<div class="container text-center">
    <p class="head-text fw-bold display-4">Track films you’ve watched.<br> those you want to see.<br>Tell your friends what’s good.</p>
    <button class="btn btn-success fs-6 mb-4" routerLink="/login">Begin Your Adventure</button>
</div>

<!-- Movies Cards Section -->
    <div class="container text-center">
      <div class="row justify-content-center">
        <!-- Loop through trendingMovies array -->
        <div *ngFor="let movie of trendingMovies" class="col-lg-2 col-md-4 movie-card position-relative">
          <div (click)="onMovieClick(movie.id)">
          <img [src]="movie.image" class="card-img-top movie-poster rounded" alt="Movie {{ movie.title }}">
          <div class="movie-overlay">
            <p class="text-white fs-2">{{ movie.title}}</p>
            <p class="text-danger fs-2">{{ movie.year }}</p>
          </div>
          </div>
        </div>
      </div>
    </div>

<!-- 2023 Banner Section -->
<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-lg-2 col-md-4 card banner-card bg-black">
                <img src="../../../assets/images/img/banner.png" class="card-img-top banner-poster rounded" alt="Banner">
        </div>
    </div>
</div>

<!-- CineVerse Cards Section -->
<div class="container mt-3">
    <div class="row">
      <!-- Card 1 -->
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card-cineverse card rounded">
          <div class="card-body d-flex">
            <span><mat-icon class="text-info">visibility</mat-icon></span>
            <p class="card-text ms-4 fs-6">Keep track of every film you’ve ever watched (or just start from the day you join)</p>
          </div>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card-cineverse card rounded">
          <div class="card-body d-flex">
            <span class=""><mat-icon class="text-danger">favorite</mat-icon></span>
            <p class="card-text ms-4 fs-6">Show some love for your favorite films, lists and reviews with a “like”</p>
          </div>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card-cineverse card rounded">
          <div class="card-body d-flex">
            <span><mat-icon class="text-success">edit</mat-icon></span>
            <p class="card-text ms-4 fs-6">Write and share reviews, and follow friends and other members to read theirs</p>
          </div>
        </div>
      </div>

      <!-- Card 4 -->
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card-cineverse card rounded">
          <div class="card-body d-flex">
            <span><mat-icon class="text-warning">star</mat-icon></span>
            <p class="card-text ms-4 fs-6">Rate each film on a five-star scale (with halves) to record and share your reaction</p>
          </div>
        </div>
      </div>

      <!-- Card 5 -->
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card-cineverse card rounded">
          <div class="card-body d-flex">
            <span><mat-icon class="text-white-50">book</mat-icon></span>
            <p class="card-text ms-4 fs-6">Keep a diary of your film watching to track your favorite movies, and reflect on your cinematic journey</p>
          </div>
        </div>
      </div>

      <!-- Card 6 -->
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card-cineverse card rounded">
          <div class="card-body d-flex">
            <span><mat-icon class="text-primary">code</mat-icon></span>
            <p class="card-text ms-4 fs-6">Compile and share lists of films on any topic and keep a watchlist of films to see</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Centered Text Div -->
  <div class="container text-center">
    <div class="my-5">
        <h1 class="fw-bolder" style="color: rgb(240, 6, 76);">Write and share reviews. Compile your own lists. Share your life in film.</h1>
        <h4 class="text-white fw-bold">Below are some popular reviews and lists from this week. <a class="text-warning" style="cursor: pointer" routerLink="/sign-up">Sign up</a> to create your own.</h4>
    </div>
</div>

<!-- Latest Reviews -->
<div class="container mb-3">
    <div class="row">
      <h1 class="fw-bolder text-white">Popular Reviews This Week</h1>
      <hr class="text-white">
      <div>
        <div class="row mt-2" *ngFor="let review of reviews">
          <div class="col-md-2 movie-card" (click)="onMovieClick(review.id)">
            <img [src]="review.image" class="img-fluid bg-white movie-poster" alt="Movie Poster">
          </div>
          <div class="col-md-10 bg-dark">
            <div class="card mb-3 bg-dark">
              <div class="card-body">
                <h2 class="card-title text-white">{{review.title}} <span class="text-danger">({{ review.year }})</span></h2>
                <div class="d-flex" (click)="onUserProfileClick(review.userId)" style="cursor: pointer">
                  <img [src]="review.userImage" height="15" width="39" class="img-fluid rounded-circle" alt="User">
                  <p class="text-white ms-2 mt-2">{{ review.name }}</p>
                </div>
                <div class="col mt-2">
                  <ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
                    <mat-icon class="star" [ngClass]="{ 'star-hover': i < review.rate }">star</mat-icon>
                  </ng-container>
                </div>
                <p class="card-text mt-2 text-white">{{ review.content }}</p>
                <p class="text-white-50 watched">{{review.timestamp.dayOfMonth}} {{review.timestamp.day}} {{review.date}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer Section -->
  <app-footer></app-footer>
  </div>
