<nav class="sidebar-nav mt-4 bg-dark">
    <ul id="sidebarnav bg-dark">
        <!-- First level menu -->
        <li class="sidebar-item bg-dark" [class.active]="showMenu === sidebarnavItem.title"
            *ngFor="let sidebarnavItem of sidebarnavItems"
            [routerLinkActive]="sidebarnavItem.submenu.length != 0 ? '' : 'active'">
            <div class="nav-small-cap" *ngIf="sidebarnavItem.extralink === true">{{sidebarnavItem.title}}</div>
            <a class="sidebar-link waves-effect waves-dark"
                [routerLink]="sidebarnavItem.class === '' ? [sidebarnavItem.path] : null"
                [ngClass]="[sidebarnavItem.class]" *ngIf="!sidebarnavItem.extralink;"
                (click)="addExpandClass(sidebarnavItem.title)"
                [routerLinkActive]="sidebarnavItem.submenu.length != 0 ? '' : 'active'">
                <h3 class="mt-2 fs-6">{{sidebarnavItem.icon}}</h3>
                <span class="hide-menu h4 ms-2 text-white">{{sidebarnavItem.title}}</span>
            </a>
        </li>
    </ul>
</nav>
