.hero-section {
    background-size: cover;
    height: 500px;
    color: black;
    padding: 100px 0;
    backdrop-filter: blur(10px);
}

.movie-card {
    cursor: pointer;
    height: 295px;
    width: 230px;
    position: relative;
    overflow: hidden;
}


.movie-poster {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 3px solid rgb(46, 38, 61);
  transition: transform 0.3s ease;
}

.movie-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  text-align: center;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  transition: opacity 0.3s ease; /* Add transition for opacity */
}

.movie-card:hover .movie-overlay {
  opacity: 1;
}

.movie-card:hover .movie-poster {
  transform: scale(1.05); /* Increase scale on hover */
}

.iframe-container {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 900px;
  height: 500px;
}

.review-container {
  width: 900px;
  height: 500px;
}

iframe {
  width: 850px;
  height: 510px;
}

.item {
  border: 2px solid rgb(46, 38, 61);
  cursor: pointer;
}

.star:hover {
  color: #c7c72f;
}

.star-hover {
  color: #c7c72f;
}

.star-selected {
  color: #c7c72f;
}

.visible-icon:hover {
  color: #2a9d2a;
}

.love-icon:hover {
  color: #ea3939;
}

.watch-icon:hover {
  color: #6868f8;
}

.green-icon {
  color: #2a9d2a;
}

.red-icon {
  color: #ea3939;
}

.blue-icon {
  color: #6868f8;
}

.head {
    display: block;
    text-decoration: none;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
}

.tag {
  background: #283038;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.05);
  color: #9ab;
  padding: 3px 6px;
  margin: 5px 5px 0 0;
}

.overview {
  font-family: "Fira Code Light";
  color: #9ab;
}

.crew {
  font-family: 'Poppins', sans-serif;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.05);
  color: #5bea88;
  padding: 3px 6px;
  margin: 5px 5px 0 0;
}

.tab {
  color: #5997ea; /* Default text color */
  text-decoration: none;
  position: relative;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

.tab:hover,
.tab.active {
  color: whitesmoke;
}

.tab:hover::after,
.tab.active::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: whitesmoke;
}

.show-more, .show-less {
  cursor: pointer;
}

.review-container {
  width: 100%; /* Set the width to 100% to ensure it takes the full width of the modal */
  box-sizing: border-box; /* Include padding and border in the width */
  padding: 20px;
}

textarea {
  height: 140px; /* Set the desired height */
}
.review {
    background: #283038;
}

.film-overlay {
  position: absolute;
  bottom: 0;
  text-align: center;
  left: 0;
  width: 90%;
  height: 40%;
  opacity: 0;
  margin-left: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  transition: opacity 0.3s ease; /* Add transition for opacity */
}

.film-card:hover .film-overlay {
  opacity: 1;
}

.film-card:hover .film-poster {
  transform: scale(1.05); /* Increase scale on hover */
}

.film-card {
  cursor: pointer;
  height: 210px;
  width: 150px;
  position: relative;
  overflow: hidden;
}

.film-poster {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 3px solid #283038;
  transition: transform 0.3s ease;
}
