<div class="bg-black">
  <!-- Navbar -->
  <app-navbar></app-navbar>
  <!-- Movie Poster -->
  <section class="hero-section text-white text-center d-flex flex-column align-items-center justify-content-center" [style.background-image]="getSanitizedBackground()"></section>
  <!-- Movie Details -->
  <div class="container">
    <div class="row mt-3">
      <div class="col-lg-2">
        <!-- Container 1: Movie Poster -->
        <div class="container movie-card rounded">
          <img src="https://image.tmdb.org/t/p/w500/{{movie.image}}}" alt="Movie Poster" class="card-img-top movie-poster">
          <div class="movie-overlay">
            <p class="text-white fs-2">{{ movie.title}}</p>
            <p class="text-danger fs-2">{{ movie.year }}</p>
          </div>
        </div>
        <div class="d-flex justify-content-between mt-2">
          <div class="d-flex ms-3 mt-1"><mat-icon class="text-success">visibility</mat-icon><span
              class="ms-1 mt-1 text-white">{{ totalWatched}}</span></div>
          <div class="d-flex ms-2 mt-1"><mat-icon class="text-danger">favorite</mat-icon><span
              class="ms-1 mt-1 text-white">{{ totalLiked }}</span></div>
        </div>
      </div>
      <div class="col-lg-7">
        <!-- Container 2: Movie Details -->
        <div class="container ms-3 mb-4">
          <div class="">
            <h1 class="text-white fw-bold">{{ movie.title }} <span class="text-danger">({{ movie.year }})</span></h1>
            <img src="../../../assets/images/users/user1.jpg" alt="user" class="rounded-circle" width="41" />
            <span class="ms-2 mt-2 fs-4 fw-bold text-white-50">{{ movieCredits.director }}</span>
          </div>
          <div class="mt-4">
            <p class="fs-6 overview">{{ movie.overview }}</p>
          </div>
          <div class="d-flex mt-4 mb-2">
            <!-- Example Angular template code -->
            <div class="tab fs-5" [class.active]="selectedTab === 'cast'" (click)="selectTab('cast')">Cast</div>
            <div class="tab ms-3 fs-5" [class.active]="selectedTab === 'crew'" (click)="selectTab('crew')">Crew</div>
            <div class="tab ms-3 fs-5" [class.active]="selectedTab === 'genre'" (click)="selectTab('genre')">Genre</div>
            <div class="tab ms-3 fs-5" [class.active]="selectedTab === 'details'" (click)="selectTab('details')">Details</div>
          </div>

          <div *ngIf="selectedTab === 'cast'" class="tag-container">
            <ng-container *ngFor="let cast of displayedCast; let last = last">
              <div class="tag">{{ cast }}</div>
              <div *ngIf="last && !showAllCast" class="tag show-more" (click)="toggleShowAllCast()">Show more...</div>
              <div *ngIf="last && showAllCast" class="tag show-less" (click)="toggleShowAllCast()">Show less...</div>
            </ng-container>
          </div>

          <div *ngIf="selectedTab === 'crew'" class="tag-container">
            <div class="tag-container" *ngIf="movieCredits.director">
              <div class="crew fs-4">DIRECTOR: </div>
              <div class="tag">
                {{ movieCredits.director }}
              </div>
            </div>
            <div class="tag-container" *ngIf="movieCredits.assistantDirector">
              <div class="crew fs-4">ASSISTANT DIRECTOR: </div>
              <div class="tag">
                {{ movieCredits.assistantDirector }}
              </div>
            </div>
            <div class="tag-container" *ngIf="movieCredits.writer">
              <div class="crew fs-4">WRITER: </div>
              <div class="tag">
                {{ movieCredits.writer }}
              </div>
            </div>
            <div class="tag-container" *ngIf="movieCredits.addDirector">
              <div class="crew fs-4">ADD. DIRECTOR: </div>
              <div class="tag">
                {{ movieCredits.addDirector }}
              </div>
            </div>
            <div class="tag-container" *ngIf="movieCredits.composer">
                <div class="crew fs-4">COMPOSER: </div>
              <div class="tag">
                {{ movieCredits.composer }}
              </div>
            </div>
            <div class="tag-container" *ngIf="movieCredits.editor">
              <div class="crew fs-4">EDITOR: </div>
              <div class="tag">
                {{ movieCredits.editor }}
              </div>
            </div>
            <div class="tag-container" *ngIf="movieCredits.cinematography">
              <div class="crew fs-4">CINEMATOGRAPHY: </div>
              <div class="tag">
                {{ movieCredits.cinematography }}
              </div>
            </div>
            <div class="tag-container" *ngIf="movieCredits.costumeDesign">
              <div class="crew fs-4">COSTUME DESIGN: </div>
              <div class="tag">
                {{ movieCredits.costumeDesign }}
              </div>
            </div>
            <div class="tag-container" *ngIf="movieCredits.lighting">
              <div class="crew fs-4">LIGHTING: </div>
              <div class="tag">
                {{ movieCredits.lighting }}
              </div>
            </div>
            <div class="tag-container" *ngIf="movieCredits.makeup">
              <div class="crew fs-4">MAKEUP: </div>
              <div class="tag">
                {{ movieCredits.makeup }}
              </div>
            </div>
            <ng-container *ngFor="let key of Object.keys(displayedContent.crew)">
              <!-- Only show if the value is not null or empty -->
              <div class="tag-container" *ngIf="displayedContent.crew[key] && displayedContent.crew[key].length > 0">
                <div class="crew fs-4">{{ key.toUpperCase() }}: </div>
                <div class="tag" *ngFor="let member of displayedContent.crew[key]; let lastMember = last">
                  {{ member }}
                  <ng-container *ngIf="!lastMember">
                    <span>,</span>
                  </ng-container>
                </div>
              </div>
            </ng-container>
          </div>

          <div *ngIf="selectedTab === 'genre'" class="tag-container">
            <ng-container *ngFor="let member of displayedContent.genre; let last = last">
              <div class="tag">{{ member }}</div>
            </ng-container>
          </div>

          <div *ngIf="selectedTab === 'details'" class="tag-container">
            <ng-container>
              <div class="tag-container" *ngIf="movie.language">
                <div class="crew fs-4">LANGUAGE: </div>
                <div class="tag">
                  {{ movie.language }}
                </div>
              </div>
              <div class="tag-container" *ngIf="movie.budget">
                <div class="crew fs-4">BUDGET: </div>
                <div class="tag">
                  {{ movie.budget }}$
                </div>
              </div>
            </ng-container>
          </div>
          <div class="d-flex mt-3">
            <div class="">
              <button type="button" class="btn btn-success d-flex" (click)="openReview(content2)"><span><mat-icon> notes</mat-icon></span><span
                  class="ms-1" style="margin-top: 2px;"> Review</span></button>
            </div>
            <div class="ms-2">
              <a class="btn btn-danger w-100 d-flex justify-content-center" (click)="open(content)"><span
                  class=""><mat-icon>play_circle_filled</mat-icon></span><span class="ms-1" style="margin-top: 2px;">
                  Trailer</span></a>
            </div>
          </div>
          <!-- Latest Reviews -->
          <div class="container rounded mt-4">
            <h1 class="fw-bolder text-white">Recent Reviews</h1>
            <hr class="text-white">
            <div *ngFor="let review of recentReviews" class="rounded">
              <div class="row rounded">
                <div class="col-md-12 review">
                  <div class="card mb-2 review">
                    <div class="card-body">
                      <div class="d-flex">
                        <img src="../../../assets/images/users/user5.jpg" height="15" width="39"
                             class="img-fluid rounded-circle" alt="User">
                        <p class="text-white ms-2 mt-2">{{ review.firstname + " " + review.lastname }}</p>
                      </div>
                      <div class="col mt-2">
                        <ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
                          <mat-icon class="star" [ngClass]="{ 'star-hover': i < review.rating }">star</mat-icon>
                        </ng-container>
                      </div>
                      <p class="card-text mt-2 ms-1 text-white">{{ review.content }}</p>
                    </div>
                  </div>
                </div>
              </div>
              <br>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <!-- Container 3: Icons -->
        <div class="container">
          <div class="row">
            <div class="col text-center p-1 item visible-icon" (click)="onIconClick('visibility')" [class.green-icon]="clickedIcon === 'visibility'" [class.green-icon]="watched">
              <mat-icon class="">visibility</mat-icon>
              <p class="text-center text-white">Watched</p>
            </div>
            <div class="col text-center p-1 ms-1 item love-icon" (click)="onIconClick('favorite')" [class.red-icon]="clickedIcon === 'favorite'" [class.red-icon]="liked">
              <mat-icon class="">favorite</mat-icon>
              <p class="text-center text-white">Like</p>
            </div>
            <div class="col text-center p-1 ms-1 item watch-icon" (click)="onIconClick('watch_later')" [class.blue-icon]="clickedIcon === 'watch_later'" [class.blue-icon]="watchlist">
              <mat-icon class="">watch_later</mat-icon>
              <p class="text-center text-white">Watchlist</p>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col text-center item p-1" (mouseleave)="resetStars()">
              <mat-icon class="star" [ngClass]="{'star-hover': hoverStar >= 1, 'star-selected': selectedStar >= 1}" (click)="rateMovie(1)">star</mat-icon>
              <mat-icon class="star" [ngClass]="{'star-hover': hoverStar >= 2, 'star-selected': selectedStar >= 2}" (click)="rateMovie(2)">star</mat-icon>
              <mat-icon class="star" [ngClass]="{'star-hover': hoverStar >= 3, 'star-selected': selectedStar >= 3}" (click)="rateMovie(3)">star</mat-icon>
              <mat-icon class="star" [ngClass]="{'star-hover': hoverStar >= 4, 'star-selected': selectedStar >= 4}" (click)="rateMovie(4)">star</mat-icon>
              <mat-icon class="star" [ngClass]="{'star-hover': hoverStar >= 5, 'star-selected': selectedStar >= 5}" (click)="rateMovie(5)">star</mat-icon>
            </div>
          </div>

          <h2 class="text-white text-center mt-3">Similar Movies</h2>
          <hr class="text-white">
          <div class="row">
            <!-- Loop through similarMovies array -->
            <div *ngFor="let movie of similarMovies" class="col-lg-2 col-md-4 card bg-black film-card">
              <div (click)="onMovieClick(movie.id)">
                <img [src]="movie.image" class="card-img-top film-poster rounded" alt="Movie {{ movie.title }}">
                <div class="film-overlay">
                  <p class="text-white fs-2">{{ movie.title}}</p>
                  <p class="text-danger fs-2">{{ movie.year }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Trailer-Modal -->
  <ng-template #content let-modal>
    <div class="iframe-container">
      <iframe [src]="getSanitizedTrailer()" title="Trailer" allowfullscreen></iframe>
    </div>
  </ng-template>
  <pre>{{ closeResult }}</pre>

  <!-- Review Modal -->
  <ng-template #content2 let-modal>
    <div class="modal-body d-flex flex-column" style="background-color: #151515;">
      <div class="d-flex justify-content-between">
        <h4 id="modal-review" class="ms-1 modal-title text-white fw-bold">I WATCHED...</h4>
        <button type="button" class="btn-close bg-white" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>

      <div class="review-container">
        <!-- Movie Poster -->
        <div class="d-flex">
          <img src="https://image.tmdb.org/t/p/w500/{{movie.image}}}" width="200" height="290" class="rounded" alt="Movie {{ movie.title }}">
          <div class="ms-3">
            <div><strong class="fs-5 text-danger opacity-75">{{ movie.title }}</strong></div>
            <div class="mt-2"><strong class="fs-6 text-white">({{ movie.year }})</strong></div>
            <div class="mt-2">
              <div class="tag-container" *ngIf="movie.language">
                <div class="crew 2">LANGUAGE: </div>
                <div class="tag">
                  {{ movie.language }}
                </div>
              </div>
              <div class="tag-container" *ngIf="movieCredits.director">
                <div class="crew fs-2">DIRECTOR: </div>
                <div class="tag">
                  {{ movieCredits.director }}
                </div>
              </div>
              <div class="tag-container" *ngIf="movieCredits.writer">
                <div class="crew fs-2">WRITER: </div>
                <div class="tag">
                  {{ movieCredits.writer }}
                </div>
              </div>
              <div class="tag-container" *ngIf="movieCredits.composer">
                <div class="crew fs-2">COMPOSER: </div>
                <div class="tag">
                  {{ movieCredits.composer }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Review Textarea -->
        <textarea [(ngModel)]="review.content" placeholder="Add your review..." class="form-control mb-2 mt-2"></textarea>

        <!-- Save Review Button -->
        <button class="btn btn-success" (click)="saveReview()">Save Review</button>
      </div>
    </div>
  </ng-template>




  <!-- Footer Section -->
  <hr class="text-muted">
  <app-footer></app-footer>
</div>
