<!-- ============================================================== -->
<!-- toggle and nav items -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Right side toggle and nav items -->
<!-- ============================================================== -->
<ul class="navbar-nav float-end">
  <!-- ============================================================== -->
  <!-- User profile and search -->
  <!-- ============================================================== -->
  <li class="nav-item" ngbDropdown placement="bottom-end">
    <div class="d-flex">
      <form class="d-flex">
        <button class="btn btn-outline-danger ms-2 fw-bold" type="submit" (click)="handleLogout($event)">Logout</button>
      </form>
    </div>
  <!-- ============================================================== -->
  <!-- User profile and search -->
  <!-- ============================================================== -->
</ul>
