<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div
  id="main-wrapper"
  class="vh-100"
  [ngClass]="{ 'show-sidebar': showMobileMenu }"
  dir="ltr"
  data-theme="light"
  data-layout="vertical"
  [attr.data-sidebartype]="sidebartype"
  data-sidebar-position="absolute"
  data-header-position="absolute"
  data-boxed-layout="full"
>
  <!-- ============================================================== -->
  <!-- Topbar header - style you can find in topbar.scss -->
  <!-- ============================================================== -->
  <header class="topbar" data-navbarbg="skin1">
    <nav class="d-flex top-navbar navbar-expand-lg navbar-dark">
      <div
        class="navbar-header bg-dark"
        [ngClass]="expandLogo ? 'expand-logo' : ''"
        data-logobg="skin6"
      >
        <!-- This is for the sidebar toggle which is visible on mobile only -->
        <a
          (click)="showMobileMenu = !showMobileMenu"
          class="nav-toggler waves-effect waves-light d-block d-lg-none"
          href="javascript:void(0)"
        >
          <i [ngClass]="showMobileMenu ? 'bi bi-text-left fs-6' : 'bi bi-text-left fs-6'"></i>
        </a>
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <a class="navbar-brand " href="/">
          <!-- Logo icon -->

          <!--End Logo icon -->
          <!-- Logo text -->
          <span class="logo-text">
            <!-- Light Logo text -->
            <div class="sidebar-heading ms-3 text-white fs-6 fw-bold text-uppercase"><i
              class=""></i>Cine <span class="" style="color: hsl(6, 100%, 42%)">Verse</span>
      </div>
          </span>
        </a>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Toggle which is visible on mobile only -->
        <!-- ============================================================== -->
        <a
          class="topbartoggler d-block d-lg-none waves-effect waves-light bg-dark"
          href="javascript:void(0)"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
          (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed"
        >
          <i class="bi bi-text-right fs-6"></i>
        </a>
      </div>
      <!-- ============================================================== -->
      <!-- End Logo -->
      <!-- ============================================================== -->
      <div
        class="navbar-collapse collapse bg-dark"
        style="border-bottom: 1px solid darkgrey"
        id="navbarSupportedContent"
        data-navbarbg="skin1"
        [ngbCollapse]="!isCollapsed"
      >
        <app-navigation
          (toggleSidebar)="toggleSidebarType()"
          class="w-100"
        ></app-navigation>
      </div>
    </nav>
  </header>
  <!-- ============================================================== -->
  <!-- Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <aside
    class="left-sidebar bg-dark border-end"
    data-sidebarbg="skin6"
    (mouseover)="Logo()"
    (mouseout)="Logo()"
  >
    <app-sidebar></app-sidebar>
  </aside>
  <!-- ============================================================== -->
  <!-- End Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Page wrapper  -->
  <!-- ============================================================== -->
  <div class="page-wrapper bg-dark vh-100">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">

      <div class="container mt-4">
        <div class="row">
          <!-- Total Users Card -->
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-white">Total Users</h5>
                <div class="d-flex justify-content-between">
                  <p class="card-text display-6">👨🏿</p> <!-- total movies count -->
                  <p class="fs-6 mt-3"> {{ totalUsers }}</p>
                </div>
              </div>
            </div>
          </div>

          <!-- Total Movies Card -->
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-white">Total Movies</h5>
                <div class="d-flex justify-content-between">
                  <p class="card-text display-6">🎞️</p> <!-- total movies count -->
                  <p class="fs-6 mt-3"> {{ totalMovies }}</p>
                </div>
              </div>
            </div>
          </div>

          <!-- Total Reviews Card -->
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-white">Total Reviews</h5>
                <div class="d-flex justify-content-between">
                  <p class="card-text display-6">⭐</p> <!-- total reviews count -->
                  <p class="fs-6 mt-3"> {{ totalReviews }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="vader mt-5">
        <div class="shadow"></div>
        <div class="head"><div class="helmet"><span class="left"></span><span class="right"></span></div><div class="eyes"><span class="left"></span><span class="right"></span></div><span class="grill"><span class="left"></span><span class="center"></span><span class="right"></span></span><span class="mask"><span class="top"></span><span class="left"></span><span class="center"></span><span class="right"></span></span><span class="line"></span></div>
        <div class="torso"><span class="neck"><span class="left"></span><span class="center"></span><span class="right"></span><span class="bottom"></span></span><span class="belt"><span class="center"></span></span><div class="plate"><span class="red_top"></span><span class="red_center"></span><span class="red_bottom"></span><span class="blue"></span><span class="gray"></span></div></div>
        <div class="hand left"><span class="hand"></span></div>
        <div class="hand right animation-right"><span class="hand"></span></div>
        <div class="legs"><span class="left"></span><span class="right"></span></div>
        <div class="boots"><span class="left"></span><span class="right"></span></div>
        <div class="sword animation-left"><span class="handle"></span><span class="light"></span></div>
      </div>

    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
  </div>
</div>
