<div class="bg-black">
    <!-- Navbar -->
    <app-navbar></app-navbar>
    <!-- Profile -->
    <div class="container mt-4">
        <div class="row mb-4">
            <div class="d-flex justify-content-between">
                <div class="d-flex mt-4">
                    <img src="../../../assets/images/users/user5.jpg" height="100" width="150"
                        class="img-fluid rounded-circle" alt="User">
                    <div class="ms-3">
                        <h1 class="text-white mt-2 fw-bold">ABDELMAJID ELOUSSE</h1>
                        <h3 class="text-muted">I love Watching Movies day and night always.</h3>
                        <div class="d-flex">
                            <div class="d-flex"><mat-icon class="text-muted">place</mat-icon>
                                <h3 class="ms-1 text-muted">Morocco</h3>
                            </div>
                            <div class="d-flex ms-2"><mat-icon class="text-muted">bookmark</mat-icon>
                                <h3 class="ms-1 text-muted">EloussM</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="mt-1 rounded">
                        <button class="btn btn-primary ms-3">EDIT PROFILE</button>
                    </div>
                    <div class="mt-3">
                        <div class="d-flex justify-content-between">
                            <div><h4 class="text-secondary text-center fw-bold">808</h4><p class="text-muted">Movies</p></div>
                            <div class="ms-4"><h4 class="text-secondary text-center fw-bold">500</h4><p class="text-muted">Likes</p></div>
                            <div class="ms-4"><h4 class="text-secondary text-center fw-bold">10</h4><p class="text-muted">Lists</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item mt-4 mb-4">
            <div class="ms-3 d-flex justify-content-evenly">
                <p class=""><a class="text-white opacity-75 fs-5" href="#">Profile</a></p>
                <p class="ms-3"><a class="text-white opacity-75 fs-5" href="#">Movies</a></p>
                <p class="ms-3"><a class="text-white opacity-75 fs-5" href="#">Diary</a></p>
                <p class="ms-3"><a class="text-white opacity-75 fs-5" href="#">Reviews</a></p>
                <p class="ms-3"><a class="text-white opacity-75 fs-5" href="#">Watchlist</a></p>
                <p class="ms-3"><a class="text-white opacity-75 fs-5" href="#">Lists</a></p>
                <p class="ms-3"><a class="text-white opacity-75 fs-5" href="#">Likes</a></p>
            </div>
        </div>

        <!-- Favorite Movies Section -->
        <div class="container mt-4">
            <h3 class="fw-bolder text-secondary">Favorite Movies</h3>
            <hr class="text-white">
            <div class="row">
                <!-- Card 1 -->
                <div class="col-lg-2 col-md-4 card bg-black movie-card">
                    <img src="../../../assets/images/img/oppen.png" class="card-img-top movie-poster rounded"
                        alt="Movie 1">
                </div>

                <!-- Card 2 -->
                <div class="col-lg-2 col-md-4 card bg-black movie-card">
                    <img src="../../../assets/images/img/us.jpeg" class="card-img-top movie-poster rounded"
                        alt="Movie 2">
                </div>

                <!-- Card 3 -->
                <div class="col-lg-2 col-md-4 card bg-black movie-card">
                    <img src="../../../assets/images/img/star-wars-poster.jpg" class="card-img-top movie-poster rounded"
                        alt="Movie 3">
                </div>

                <!-- Card 4 -->
                <div class="col-lg-2 col-md-4 card bg-black movie-card">
                    <img src="../../../assets/images/img/batman.png" class="card-img-top movie-poster rounded"
                        alt="Movie 4">
                </div>

                <!-- Card 5 -->
                <div class="col-lg-2 col-md-4 card bg-black movie-card">
                    <img src="../../../assets/images/img/moonlight.jpeg" class="card-img-top movie-poster rounded"
                        alt="Movie 5">
                </div>
            </div>
        </div>

        <!-- Recent Likes Section -->
        <div class="container mt-4">
            <div class="d-flex justify-content-between">
                <h3 class="fw-bolder text-secondary">Recent Likes</h3>
                <h3 class="fw-bolder text-secondary">All</h3>
            </div>
            <hr class="text-white">
            <div class="row">
                <!-- Card 1 -->
                <div class="col-lg-2 col-md-4 card bg-black movie-card">
                    <img src="../../../assets/images/img/oppen.png" class="card-img-top movie-poster rounded"
                        alt="Movie 1">
                </div>

                <!-- Card 2 -->
                <div class="col-lg-2 col-md-4 card bg-black movie-card">
                    <img src="../../../assets/images/img/us.jpeg" class="card-img-top movie-poster rounded"
                        alt="Movie 2">
                </div>

                <!-- Card 3 -->
                <div class="col-lg-2 col-md-4 card bg-black movie-card">
                    <img src="../../../assets/images/img/star-wars-poster.jpg" class="card-img-top movie-poster rounded"
                        alt="Movie 3">
                </div>

                <!-- Card 4 -->
                <div class="col-lg-2 col-md-4 card bg-black movie-card">
                    <img src="../../../assets/images/img/batman.png" class="card-img-top movie-poster rounded"
                        alt="Movie 4">
                </div>

                <!-- Card 5 -->
                <div class="col-lg-2 col-md-4 card bg-black movie-card">
                    <img src="../../../assets/images/img/moonlight.jpeg" class="card-img-top movie-poster rounded"
                        alt="Movie 5">
                </div>
            </div>
        </div>

        <!-- Recent Reviews -->
<div class="container mb-3 mt-4">
    <div class="row">
        <div class="d-flex justify-content-between">
            <h3 class="fw-bolder text-secondary">Recent Reviews</h3>
            <h3 class="fw-bolder text-secondary">More</h3>
        </div>
      <hr class="text-white">
      <div class="col-md-2">
        <img src="../../../assets/images/img/oppen.png" height="130" width="160" class="img-fluid bg-white" alt="Movie Poster">
      </div>
      <div class="col-md-10 bg-dark">
        <div class="card mb-3 bg-dark">
          <div class="card-body">
            <h2 class="card-title text-white">Oppenheimer (2023)</h2>
            <span class="badge bg-warning text-dark mt-1">★★½</span>
            <p class="card-text mt-2 text-white">felix showing saltburn around as if he's in 73 questions with vogue..</p>
            <div class="d-flex">
                <div class="d-flex"><mat-icon class="text-danger">favorite</mat-icon><span class="ms-2 mt-1 text-white">5,201 likes</span></div>
                <div class="d-flex ms-3 mt-1"><mat-icon class="text-info">comment</mat-icon><span class="ms-2 text-white">20</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <br>

    <div class="row">
      <div class="col-md-2">
        <img src="../../../assets/images/img/potter.jpg" height="130" width="160" class="img-fluid bg-white" alt="Movie Poster">
      </div>
      <div class="col-md-10 bg-dark">
        <div class="card mb-3 bg-dark">
          <div class="card-body">
            <h2 class="card-title text-white">Harry Potter (2001)</h2>
            <span class="badge bg-warning text-dark mt-1">★★½</span>
            <p class="card-text mt-2 text-white">felix showing saltburn around as if he's in 73 questions with vogue..</p>
            <div class="d-flex">
                <div class="d-flex"><mat-icon class="text-danger">favorite</mat-icon><span class="ms-2 mt-1 text-white">5,201 likes</span></div>
                <div class="d-flex ms-3 mt-1"><mat-icon class="text-info">comment</mat-icon><span class="ms-2 text-white">20</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>

 </div>

    </div>

    <!-- Footer Section -->
    <hr class="text-muted mt-4">
    <app-footer></app-footer>
</div>