.banner-card {
  height: 140px;
  width: 90%;
  margin-top: 10px;
}

.banner2-card {
  height: 300px;
  width: 95.5%;
  margin-top: 10px;
}

.banner-poster {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.big-title {
  color: whitesmoke;
  font-family: 'Honk', sans-serif;
}
