<section class="text-center text-lg-start">
    <!-- Jumbotron -->
    <div class="container py-4">
      <div class="row g-0 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card cascading-right" style="
              background: hsla(0, 0%, 100%, 0.55);
              backdrop-filter: blur(30px);
              ">
            <div class="card-body p-5 shadow-5 text-center shadow">
              <h2 class="fw-bold mb-5">Sign up now</h2>
              <form>
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" id="form3Example1" class="form-control" />
                      <label class="form-label mt-1 text-black" for="form3Example1">First name</label>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" id="form3Example2" class="form-control" />
                      <label class="form-label mt-1 text-black" for="form3Example2">Last name</label>
                    </div>
                  </div>
                </div>
  
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3" class="form-control" />
                  <label class="form-label mt-1 text-black" for="form3Example3">Email address</label>
                </div>
  
                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4" class="form-control" />
                  <label class="form-label text-black mt-1" for="form3Example4">Password</label>
                </div>
  
                <!-- Checkbox -->
                <div class="form-check d-flex justify-content-center mb-4">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                  <label class="form-check-label" for="form2Example33">
                    Subscribe to our newsletter
                  </label>
                </div>
  
                <!-- Submit button -->
                <button type="submit" class="btn btn-info w-50 opacity-75 btn-block mb-4">
                  Sign up
                </button>

                <div class="text-center">
                    <a class="text-dark">Already have an account? <span class="text-info opacity-50 fw-bold">Login</span></a>
                </div>
  
                <!-- Register buttons -->
                <div class="text-center mt-2">
                  <p class="fs-4">or sign up with:</p>
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <mat-icon class="text-info opacity-75">facebook</mat-icon>
                  </button>
  
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <mat-icon class="text-danger opacity-75">email</mat-icon>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
  
        <div class="col-lg-6 mb-5 mb-lg-0">
          <img src="../../../assets/images/img/signup.jpg" height="700" class="w-75 rounded-4 shadow-4"
            alt="" />
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->