<section class="text-center text-lg-start dark-mode">
    <!-- Jumbotron -->
    <div class="container py-4">
      <div class="row g-0 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card cascading-right dark-mode-card">
            <div class="card-body p-5 shadow-5 text-center shadow">
              <h2 class="fw-bold mb-5 text-white">Sign up now</h2>
              <div class="alert alert-danger" *ngIf="errorMessage">
                <p>{{ errorMessage }}</p>
              </div>
              <form #formRegister="ngForm" (ngSubmit)="onSubmitRegister(formRegister)">
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-label mt-1" for="firstname">First name</label>
                      <input type="text" id="firstname" class="form-control" placeholder="First Name" ngModel #firstname="ngModel" name="firstname" required/>
                      <div *ngIf="firstname.errors && formRegister.submitted" class="text-danger">
                        First Name is required!
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-label mt-1" for="lastname">Last name</label>
                      <input type="text" id="lastname" placeholder="Last Name" ngModel #lastname="ngModel" name="lastname" required class="form-control" />
                      <div *ngIf="lastname.errors && formRegister.submitted" class="text-danger">
                        Last Name is required!
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Email input -->
                <div class="form-outline mb-4">
                  <label class="form-label mt-1" for="email">Email address</label>
                  <input type="email" id="email" placeholder="Email Address" ngModel #email="ngModel" name="email" required email class="form-control" />
                  <div *ngIf="email.errors && formRegister.submitted" class="text-danger">
                    Email is required!
                  </div>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                  <label class="form-label mt-1" for="password">Password</label>
                  <input type="password" class="form-control" id="password" placeholder="Password" ngModel #password="ngModel" name="password" required minlength="6"/>
                  <div *ngIf="password.errors && formRegister.submitted" class="text-danger">
                    <div *ngIf="password.errors['required']">Password is required</div>
                    <div *ngIf="password.errors['minlength']">
                      Password must be at least 6 characters
                    </div>
                  </div>
                </div>

                <!-- Checkbox -->
                <div class="form-check d-flex justify-content-center mb-4">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                  <label class="form-check-label" for="form2Example33">
                    Subscribe to our newsletter
                  </label>
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-info w-50 btn-block mb-4">
                  Register
                </button>

                <div class="text-center">
                    <a routerLink="/login" class="fs-4 text-white">Already have an account? <span class="text-info fw-bold">Login</span></a>
                </div>

                <!-- Register buttons -->
                <div class="text-center mt-2">
                  <p class="fs-4">or sign up with:</p>
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <mat-icon class="text-info opacity-75">facebook</mat-icon>
                  </button>

                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <mat-icon class="text-danger opacity-75">email</mat-icon>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0">
          <img src="../../../assets/images/img/signup.jpg" height="750" class="w-75 rounded-4 shadow-4"
            alt="" />
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
